<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="mwimain_ao" path="*.dll" verb="*" modules="BasicAuthenticationModule" scriptProcessor="D:\Mike\AO_OPAC\scripts\MWIMain.dll" resourceType="File" preCondition="bitness32" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
