<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="AOOPAC reset scripts" path="*" verb="*" modules="IsapiModule" scriptProcessor="F:\AO_OPAC\reset\webreset.dll" resourceType="Directory" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
