.advsearch_checkbox{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
}

ul.advsearch_checkbox li{
    margin: 0;
    width: 40%;
    padding: 5px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 1025px) {
    
    .Form-Subheader {
        font-size: 1.25em;
    }
}


@media only screen and (max-width: 600px) {
    
    .Form-Subheader {
        font-size: 1em;
    }
}