.Detail-Container {
  padding: 1em;
  border: 1px solid #000;
  border-radius: 4px;
}

#Detail-Content {
  width: 100%;
  margin-top: 30px;
  padding: 0.1rem;
}

.detail-buttons {
  width: 100px;
}

#detail-function {
  text-align: center;
  margin-top: 20px;

  margin-bottom: 35px;
}
.function-buttons {
  width: 80%;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #047bc1;
  border-color: #047bc1;
}

#next-record {
  float: right;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

#web_det_form{  
  margin: 0;
}

#detail-bookmark{
  cursor: default;
}

button.bookmarkbutton a{
  color:white;
  text-decoration: none;
}

button.bookmarkbutton a:hover{
  color:white;
}

.cs-iframe-detail{
  width:100%; 
  height:300px;
  margin-bottom:20px;
  border: 1px solid black;
  border-radius: 10px;
}

.comment-row{
  background-color:#f5f5f5;
}



/* CROWDSOURCE CSS */
.card {
  border: 1px solid rgba(0,0,0,.125)
}
.card-white  .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
   border: 1px solid #dddddd;
}
.card-white  .card-footer {
  background-color: #fff;
  border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.float-left {
  float: left !important;
}
/* CROWDSOURCE CSS END */



/* Request Material */

.gj-textbox-md {
  border-radius:0px;
}
.req-item-desc{
  background: white;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
}
.req-item-info-cont {
  margin: 2rem 0 2rem 0;

}
.req-item-info {
  padding: 1rem;
  background:white;
  border-radius: 5px;
}
#req-later-right{
  background:white;
  padding: 1rem;
}
/* Request Material CSS END */