
.Detail-Container {
  padding: 1em;
  background-color: #FFF;

  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #888888;
}

#Detail-Content {
  width: 100%;
  margin-top: 30px;
  padding: 0.1rem;
}

.detail-buttons {
  width: 125px;
}

#detail-function {
  display: flex; 
  flex-direction: row;

  /* text-align: center;
  margin-top: 20px;

  margin-bottom: 35px; */
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.function-buttons {
  width: 80%;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #047bc1;
  border-color: #047bc1;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#next-record {
  float: right;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

#web_det_form{  
  margin: 0;
}

#detail-bookmark{
  cursor: default;
}

.btn-primary,
.btn-primary > a {
  font-size: 0.8rem;
}

.rec-det-btn {
  display: flex;
  justify-content: center;

  width: 80%;
}

#request_form,
#web_det_form {
  display: flex;
  justify-content: center;
  width: 100%
}

button.bookmarkbutton a{
  color:white;
  text-decoration: none;
}

button.bookmarkbutton a:hover{
  color:white;
}

.cs-iframe-detail{
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom:20px;
  border: 1px solid black;
  border-radius: 10px;
}

.comment-row{
  background-color:#f5f5f5;
}

.modal-body-image,
.modal-body-audio,
.modal-body-video{
  text-align:-webkit-center;
}

.repeat-ul-det{
  padding:0;
  list-style-type:none;
}
.repeat-ul-det li{
  margin: 0px 0 5px 0;
}

.repeat-ul-holdings-det{
  padding:0;
  text-align:center;
  list-style: none;
}
.biblio-holdings-table{
  width:100%;
}
.biblio-holdings-table th{
  padding:10px;
  text-align: center;
}
.biblio-holdings-table td{
  padding:10px;
  font-size:16px
}
.biblio-holdings-table li{
  padding:3px;
}

/* CROWDSOURCE CSS */
.card {
  border: 1px solid rgba(0,0,0,.125)
}
.card-white  .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
   border: 1px solid #dddddd;
}
.card-white  .card-footer {
  background-color: #fff;
  border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.float-left {
  float: left !important;
}
#treeTest {
  margin-top: 100px;
}

.image-slick .slick-arrow {
  position: absolute;
  top: 50%;
}
.image-slick .slick-prev {
  left: 0px;
  z-index: 1;
}
.image-slick .slick-next {
  right: 0px;
  z-index: 1;
}

.audio-slick .slick-arrow {
  position: absolute;
  top: 20%;
}
.audio-slick .slick-prev {
  left: 0px;
  z-index: 1;
}
.audio-slick .slick-next {
  right: 0px;
  z-index: 1;
}

.video-slick .slick-arrow {
  position: absolute;
  top: 40%;
}
.video-slick .slick-prev {
  left: -10px;
  z-index: 1;
}
.video-slick .slick-next {
  right: -10px;
  z-index: 1;
}

.docu-slick .slick-arrow {
  position: absolute;
  top: 45%;
}
.docu-slick .slick-prev {
  left: -17px;
  z-index: 1;
}
.docu-slick .slick-next {
  right: -17px;
  z-index: 1;
}
.audio-slick .btn:focus,
.video-slick .btn:focus,
.docu-slick .btn:focus {
  border:none;
}
.docu-slick {
  text-align: center;
}
/* CROWDSOURCE CSS END */



/* Request Material */

.gj-textbox-md {
  border-radius:0px;
}
.req-item-desc{
  background: white;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
}
.req-item-info-cont {
  margin: 2rem 0 2rem 0;

}
.req-item-info {
  padding: 1rem;
  background:white;
  border-radius: 5px;
}
#req-later-right{
  background:white;
  padding: 1rem;
}
/* Request Material CSS END */

/* Detail Carousel BEGIN */
#mainCarousel {
  width: 600px;
  margin: 0 auto 1rem auto;

  --carousel-button-color: #170724;
  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

#mainCarousel .carousel__slide {
  display: flex; 
  justify-content: center;
  width: 100%;
  padding: 0;
}

#mainCarousel .carousel__button.is-prev {
  left: -1.5rem;
}

#mainCarousel .carousel__button.is-next {
  right: -1.5rem;
}

#mainCarousel .carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #A78BFA;
}

#thumbCarousel .carousel__slide {
  opacity: 0.5;
  padding: 0;
  margin: 0.25rem;
  width: 96px;
  height: 64px;
}

#thumbCarousel .carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

#thumbCarousel .carousel__slide.is-nav-selected {
  opacity: 1;
}

/* Detail Carousel END */