/* Main Font: RaleWay
Altername: Calibri
Default: Sans-serif */

/* Header: Extrabold, Bold, or Medium
Subheader: Bold, Medium, or Regular (different from header)
URL: Bold or Medium
Logo: Right Side of Layout (Whenever possible) */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.Color-Purple {
    color: #92278f;
}

.Color-Green {
    color: #39b54a;
}

.Color-Blue {
    color: #047bc1;
}

.Color-Orange {
    color: #f15a22;
}

.Color-Red {
    color: #ed1c24;
}

.Color-Pink {
    color: #ed037c;
}

#Content-Wrapper {
    background-color: #F3F4F6;
    width: 100%;
}

.Features-Container {
    border-left: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Footer-Navigation a {
    color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.Form-Subheader {
    font-size: 2em;
}

a.Footer-Navigation a,
.Header-Navigation a,
.Nav-Flip a,
.Quick-Links-Item {
    text-decoration: none;
}

.Header-Navigation a:hover,
.Footer-Navigation a:hover,
.Nav-Flip a:hover,
.Quick-Links-Item:hover {
    text-decoration: underline;
}

.Form-Wrapper {
    width: 90%;
}

#Header-Logo {
    margin: 0.5em;
}

.Header-Navigation {
    background-color: #000;
    color: #FFF;
    font-size: 1.25rem;
    height: 50px;
}   

.Header-Navigation a {
    color: #FFF;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    /* text-decoration: none; */
    margin-left: 0.5em;
    margin-right: 0.5em;
}

hr.Hr-1 {
    border-top: 3px solid #101010;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#Main-Form {
    background-color: #FFF;
    padding: 1em;
}

.Ministry-Header {
    margin-left: 0.5em;
    font-weight: bolder;
}

.Nav-Flip a {
    margin-top: 0.5em; 
    color: #000;
    /* text-decoration: none; */
}

#Option-Choice,
.Input-Wrapper label {
    font-weight: bold;
}

#Panel-Left {
    flex: 2;
}

#Panel-Main {
    flex: 7;
    padding: 3em;
    padding-top: 1em;
}

#Panel-Right {
    flex: 1;
}

.Quick-Links-Container {
    border-right: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.Radio-Wrapper {
    margin-top: 0.5em;
}

.Search-Option-Button {
    border-radius: 5px;
}

.Search-Options-Wrapper {
    margin-top: 0.5em;
}

.Search-Options-Wrapper a {
    color: black;
}



@media only screen and (max-width: 1025px) {

    body {
        background-color: green;
    }
    
    .Form-Subheader {
        font-size: 1.25em;
    }
    
    .Header-Navigation {
        font-size: 1rem;
    } 
}


@media only screen and (max-width: 600px) {

    body {
        background-color: purple;
    }
    
    .Form-Subheader {
        font-size: 1em;
    }
    
    .Header-Navigation {
        font-size: 0.75rem;
    } 
}

