
#Client-Bookmarks,
#Client-Crowd-Sourcing,
#Client-Enquiry,
#Client-Request,
#Client-Copyright,
#Client-Reproduction {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 170px;
    width: 150px;
    margin: 5px;
    background-color: #fff;

    border-radius: 2px;
    box-shadow: 2px 2px 4px 1px #888888;
}

#Client-Bookmarks:hover,
#Client-Crowd-Sourcing:hover,
#Client-Enquiry:hover,
#Client-Request:hover,
#Client-Copyright:hover,
#Client-Reproduction:hover {
    background-color: #808080;
    cursor: pointer;
}


#Client-Bookmarks > p,
#Client-Crowd-Sourcing > p,
#Client-Enquiry > p,
#Client-Request > p,
#Client-Copyright > p,
#Client-Reproduction > p {
    margin: 0;
}



#Client-Container{
    display: flex;
    align-items:center;
    width: 85%;
}

#Client-Info {
    display: flex;
    width: 90%;

    margin-top: 10px;
}

.Client-Info-Item {
    width: 100%;
}

.Client-Info-Title {
    display: flex;
    flex: 4;
}

.Client-Info-Value {
    display: flex;
    flex: 4;

    margin-left: 10px;
}

.Link-Image {
    display: flex;
    align-items: center;

    height: 100px;    
}

#Client-Link-Container-Top,
#Client-Link-Container-Bottom {
    display: flex;
    flex-direction: row;
}

.patron-temp {
    display: flex;
    flex: 2;
}

.clientBookmark {
    margin: 0 0 0.5rem 0;
}
.clientMainSection,
.clientAddressSection,
.clientShipAddressSection,
.clientTelephoneSection {
    padding:0 1rem 1.5rem 1rem;
    margin-top:1rem;
    margin-bottom:1.5rem;
    border-radius:7px;
}

#FormHeader{
    text-decoration: underline;
}
.client-button-row{
    text-align: center !important;
    margin:0 1rem 1rem 1.5rem;
}

#Client-Crowd-Sourcing

/* Your Enquiry*/

/* Your Request */
#my-requests {
    margin: 2rem 0 2rem 0;
    background:white;
}
.my-req-header {
    margin-bottom: 1rem;
}
.my-req-desc {
    margin-left: 0.5rem;
}
.my-req-text-cont {
    background: white;
}
/* Your Crowdsourced */
