#Request-Button {
    margin: 1.5rem 0 1.5rem 0;
}

.reqTopicContainer {
    margin: .5rem 0 .5rem 0;
}

.reqAdditionalInfo {
    margin: .5rem 0 .5rem 0;
}

.reqAffiliationContainer {
    margin: .5rem 0 .5rem 0;
}

.my-req-text-cont {
    margin: .5rem 0 1rem 0;
}

.reqRushContainer {
    margin-top: 10px;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}