.Annotation-Wrapper,
.Source-Wrapper {
    border-radius:5px;
    /* display:inline-block; */
    /* overflow:hidden; */
    /* background:#cccccc; */
    border:1px solid #cccccc;
  }

  #Annotation-Drop,
  #Source-Db-Drop {
    /* width:140px;
    height:40px; */
    border:0px;
    outline:none;
  }

.Label {
    margin-right: 5px;
}

.Modal-Body-Item {
    margin: 5px;
}

.pagination-btn {
    margin: 5px;
}

.Record-Item {
    display: flex;
    flex-direction: row;
    flex: 1;

    margin: 5px;
    padding: 1em;

    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
}

.Record-Fields {
    display: flex;
    flex-direction: column;
    flex: 8;
}

.Record-Btns {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.Record-Btn {
    margin: 5px;
    border-radius: 4px;
}


.Record-Item:nth-child(even) {
    background: rgb(221, 218, 218);
  }

  .filter-ul{
    padding: 0 !important;
    text-align: center;
}
  
.Unchecked-Bookmark input[type='checkbox']{
    display:none;
}

.Unchecked-Bookmark label{
    cursor: pointer;
}

#User-Id-Input {
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

.Delete-Bookmark input[type='checkbox']{
    display:none;
}
