body {
    display: flex;
    justify-content: center;
}

#Test-Pay {
    display: flex;
    flex-direction: column;
    width: 40%
}

.Test-Pay-Item {
    display: flex;
    flex-direction: row;
}

.Test-Pay-Item-Value {
    margin-left: 5px;
}